* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	background-color: #0b1f2a;
	text-align: center;
	flex-direction: column;
	padding-top: 2%;
}

#logo {
	margin: auto;
	width: 150px;
	height: auto;
}

#OGimg {
	margin: auto;
	width: 150px;
	height: auto;
}

h1 {
	font-family: "Open Sans", sans-serif;
	color: #00d2bd;
	text-align: center;
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(2, auto);
}
.container {
	width: 500px;
	height: 630px;
	background: #333f47;
	margin: 30px auto;
	border-radius: 10px;
}
ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-evenly;
}
ul li {
	width: 30%;
	height: 150px;
	border: 1px solid #00d2bd;
	margin-top: 10px;
	text-align: center;
	font-size: 2rem;
	padding-top: 3rem;
}
#restartBtn {
	margin-top: 20px;
	width: 75px;
	height: 30px;
	border: 0px;
	border-radius: 10px;
	background: #a4aaae;
	opacity: 0.7;
}

#restartBtn:hover {
	opacity: 1;
}

.c1 {
	background-image: url("./assets/f1.jpg");
	background-position: top left;
}

.c2 {
	background-image: url("./assets/f1.jpg");
	background-position: top center;
}

.c3 {
	background-image: url("./assets/f1.jpg");
	background-position: top right;
}

.c4 {
	background-image: url("./assets/f1.jpg");
	background-position: center left;
}

.c5 {
	background-image: url("./assets/f1.jpg");
	background-position: center center;
}

.c6 {
	background-image: url("./assets/f1.jpg");
	background-position: center right;
}

.c7 {
	background-image: url("./assets/f1.jpg");
	background-position: bottom left;
}

.c8 {
	background-image: url("./assets/f1.jpg");
	background-position: bottom center;
}
